@model SCDT52CW2Models.Assets
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Asset Management";
}

<form method="post" asp-action="Upsert" asp-controller="Asset">
    <div class="container bg-dark rounded shadow-lg p-3 rounded justify-content-xl-center text-center text-light">
        <div class="row">
            <div class="col-12 pb-4">
                <h1>Create new Asset</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 pt-2">
                @Html.DisplayNameFor(Model => Model.Id)
            </div>
            <div class="col-8 pt-2">
                <input name="Id" asp-for="Id" class="form-control" readonly />
            </div>

            <div class="col-4 pt-2">
                @Html.DisplayNameFor(Model => Model.AssetID)
            </div>
            <div class="col-8 pt-2">
                <input name="AssetID" asp-for="AssetID" class="form-control" placeholder="Enter the Assets ID" />
            </div>
            <div class="col-4 pt-2">
                @Html.DisplayNameFor(Model => Model.Desc)
            </div>
            <div class="col-8 pt-2">
                <input name="Desc" asp-for="Desc" class="form-control" placeholder="Enter a description for the Asset" />
            </div>
            <div class="col-4 pt-2">
                @Html.DisplayNameFor(Model => Model.Location)
            </div>
            <div class="col-8 pt-2">
                <input name="Location" asp-for="Location" class="form-control" placeholder="Enter the Assets location" />
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-4 pt-4">
                @if (Model.Id != 0)
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.Id">Update Asset</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Back to Asset List</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" asp-area="Asset" asp-controller="Asset" asp-action="Upsert" class="btn btn-primary form-control">Create Asset</button>
                        </div>
                        <div class="col">
                            <a href="/Asset/Asset/Index" class="btn btn-success form-control">Back to Asset List</a>
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</form>