@model SCDT52CW2Models.ViewModels.CreateIssueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Ticket";
}

<h1>Raise a new Issue</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-controller="Issue">
            <div class="form-group">
                <input name="id" asp-for="Id" readonly class="form-control" value="@Model.Issue.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">@Html.DisplayNameFor(m => m.Issue.Date)</label>
                <input name="date" asp-for="Date" readonly class="form-control" value="@Model.Issue.Date"/>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">@Html.DisplayNameFor(m => m.Issue.Author)</label>
                <input name="author" asp-for="Author" readonly class="form-control" value="@Model.Issue.Author"/>
            </div>
            <div class="form-group">
                <input name="userid" asp-for="UserId" readonly class="form-control" value="@Model.Issue.UserId" />
            </div>

            <div class="form-group">
                <label asp-for="Desc" class="control-label">@Html.DisplayNameFor(m => m.Issue.Desc)</label>
                <input name="desc" asp-for="Desc" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="isTechnical">
                    Technical Issue?:
                    <select name="istechnical" asp-for="isTechnical">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label asp-for="AffectedAssets">
                    Affected Assets? 

                    @Html.DropDownListFor(m => m.Issue.AffectedAsset, Model.AssetsSelect, "Select Asset", new { @class = "form-control" })

                </label>
            </div>


            <div class="form-group">
                <label asp-for="isClosed">
                    Ticket Status:
                    <select name="isclosed" asp-for="isClosed">
                        <option value="false">Keep Ticket Open</option>
                        <option value="true">Close Ticket</option>
                    </select>
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
        <div>
            <a href="/Issues/Issue/Index" class="btn btn-outline-primary">Back</a>
        </div>
    </div>
</div>