@model SCDT52CW2Models.Issue

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Manage Issue";
}

<div class="container bg-dark rounded shadow-lg p-3 pb-5 rounded justify-content-xl-center text-center text-light">
    <div class="row">
        <div class="col">
            <h1>Issue ID: @Html.DisplayFor(model => model.Id)</h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6"><h2>Issue Date:</h2></div>
        <div class="col-6">
            <h2>@Html.DisplayFor(model => model.Date)</h2>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-6"><h2>Author:</h2></div>
        <div class="col-6"><h2>@Html.DisplayFor(model => model.Author)</h2></div>
    </div>
    <div class="row pt-2">
        <div class="col-6"><h2>Description:</h2></div>
        <div class="col-6"><h2>@Html.DisplayFor(model => model.Desc)</h2></div>
    </div>
    <div class="row">

        @if (Model.isTechnical)
        {
            @if (Model.AffectedAssets.Count > 0)
            {
                <h1>Affected Assets?</h1>
                <table class="table table-bordered table-striped table-light table-responsive-md">
                    <thead>
                        <tr>
                            <th scope="col">AssetID</th>
                            <th scope="col">Desc</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model.AffectedAssets)
                        {
                            <tr>
                                <td>@asset.AssetID</td>
                                <td>@asset.Desc</td>
                                <td>@asset.Location</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    No assets are affected with this ticket...
                </div>

            }
        }
    </div>
</div>


<div class="container bg-dark rounded shadow-lg p-3 pb-5 rounded justify-content-xl-center text-center text-light">
    <div class="row">
        <div class="col">
            <h3 class="py-2 text-center">Create Issue Update</h3>
            <form method="post" asp-controller="Issue" asp-action="UpdateTicket">
                <input name="id" value="@Model.Id" type="hidden" readonly />
                <textarea type="text" class="form-control py-3" placeholder="Action Details..." name="action" rows="3"></textarea>

                <label class="pt-2">
                    Resolved?:
                    <select name="resolved">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </label>

                <button type="submit" class="btn btn-block btn-primary mt-2">Add Issue Update</button>

            </form>
        </div>
    </div>
</div> 

    

